node_modules
static
static_cw
vendor
app/views/course/index.php
app/views/course/episodes.php
app/views/course/manager.php
app/views/course/scheduler.php
app/views/admin/index.php
app/views/contents/index.php
.vscode
Opencast-V*.zip
dist
