@import "assets/stylesheets/scss/variables";
@import "assets/stylesheets/scss/breakpoints";
@import "assets/stylesheets/scss/buttons";

// DRAWER
#content-wrapper {
    position: relative;
}

.drawer {
    position: absolute;
    z-index: 501;
    background-color: white;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 100%;
    height: 100%;
    top: 0;

    .drawer__header {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 10;
        border-bottom: 1px solid var(--dark-gray-color-10);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .drawer__close {
            float: right;
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
        }
    }

    .drawer__content {
        padding: 1rem;
    }
}


/* Slide-Transition */
.drawer-slide-enter-active,
.drawer-slide-leave-active {
    transition: transform 0.3s ease;
}

.drawer--left.drawer-slide-enter-from,
.drawer--left.drawer-slide-leave-to {
    transform: translateX(-100%);
}

.drawer--right.drawer-slide-enter-from,
.drawer--right.drawer-slide-leave-to {
    transform: translateX(100%);
}

@media (max-width: 768px) {
    .drawer {
        width: 100% !important;
        max-width: none !important;
        position: fixed;
    }
}

// TABS
$icons: (
); // we don't icons right now

.oc--tabs {
    .oc--tabs-nav {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        border: solid thin var(--color--content-box-border);
        border-bottom: none;

        button {
            background-color: transparent;
            border: none;
            padding: 1em 0 4px 0;
            margin: 0 7px 0 21px;
            color: var(--base-color);
            cursor: pointer;
            text-align: center;
            flex-grow: 1;
            max-width: max-content;

            &::after {
                display: block;
                margin-top: 8px;
                margin-bottom: -4px;
                margin-left: -7px;
                width: calc(100% + 14px);
                content: '';
                border-bottom: solid 3px var(--dark-gray-color-75);
                transform: scaleX(0);
                transition: transform var(--transition-duration) ease-in-out;
            }

            &.is-active,
            &:hover {
                color: var(--black);

                &:after {
                    transform: scaleX(1);
                }
            }

            @each $icon in $icons {
                &.oc--tabs-nav-icon-text-#{$icon} {
                    &::before {
                        @include background-icon($icon);
                        background-repeat: no-repeat;
                        background-position: left bottom;

                        display: inline-block;
                        height: var(--icon-size-inline);
                        width: var(--icon-size-inline);
                        margin-bottom: -2px;
                        padding-left: 4px;
                        content: '';
                    }
                }

                &.is-active.oc--tabs-nav-icon-text-#{$icon},
                &.oc--tabs-nav-icon-text-#{$icon}:hover {
                    &::before {
                        @include background-icon($icon, info);
                    }
                }
            }

            @each $icon in $icons {
                &.oc--tabs-nav-icon-solo-#{$icon} {
                    &::before {
                        display: inline-block;
                        height: 24px;
                        width: 24px;
                        content: '';

                        @include background-icon($icon, $size: 24px);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                &.is-active.oc--tabs-nav-icon-solo-#{$icon},
                &.oc--tabs-nav-icon-solo-#{$icon}:hover {
                    &::before {
                        @include background-icon($icon, info, 24px);
                    }
                }
            }
        }

        &:hover li {
            &.is-active::after {
                transform: scaleX(0);
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

    .oc--tabs-content {
        border: solid thin var(--color--content-box-border);
        padding: 8px 16px;

        .oc--tab {
            .oc--tab-active {
                padding: 4px 8px;
            }

            .oc--tab-footer {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 30px;
            }
        }
    }
}

// Buttons
.button.globe {
    @include button-with-icon(globe, clickable, info_alt);

    &.disabled,
    &[disabled] {
        @include button-with-icon(globe, inactive, inactive);
    }

}


// OC CONTENT BAR
.oc--content-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray-color-5);
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .oc--content-bar-header-buttons-left {}

        .oc--content-bar-header-title {
            flex-grow: 1;

        }

        .oc--content-bar-header-buttons-right {}
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .oc--content-bar-nav {
            .oc--tabs-content {
                display: none;
            }
        }

        .oc--content-bar-search {
        }
    }
}

.oc--search {
    display: flex;
    align-items: stretch;
    width: 100%;

    input {
        box-sizing: border-box;
        border: 1px solid var(--dark-gray-color-30);
        border-right: none;
        -webkit-box-flex: 1;
        flex: 1;
        padding: 0.25em 0.5em;
        width: 100%;
    }

    .submit-search {
        background-color: var(--content-color-20);
        border: 1px solid var(--dark-gray-color-30);
        border-left-color: var(--light-gray-color-40);
        border-radius: 0;
        color: transparent;
        cursor: pointer;
        font: 0/0 a;
        text-shadow: none;
    }
}