@import "assets/stylesheets/scss/variables";
@import "assets/stylesheets/scss/breakpoints";
@import "assets/stylesheets/scss/buttons";

$item-height: auto;
$item-width : 20em;
$item-height-small: auto;
$item-width-small : 16em;
$episode-background: $light-gray-color-20;
$action-menu-icon-size: 20px;

/* * * * * * * * * * * * * * * * * */
/*   G L O B A L E   K L A S S E N */
/* * * * * * * * * * * * * * * * * */

#opencast-plugin {
    h2 {
        background-color: transparent;
        color: $headings-color;
        font-size: 1.4em;
        font-weight: normal;
        padding-top: 0px;
        margin-top: 0px;
    }

    .vs__search {
        font-size: inherit ! important;
        line-height: inherit ! important;
    }

    .vs__option-with-icon {
        vertical-align: top;
        display: inline-block;
        margin-top: -2px;
    }
}

.oc--ltiauth {
    height: 1px;
    width: 1px;
    overflow: hidden;
    visibility: hidden;
}

.button.wrap-button {
    white-space: normal;
}

.oc--image-button {
    vertical-align: text-bottom;
}

/* * * * * * * * * */
/*   P A G I N G   */
/* * * * * * * * * */

.oc--pagination {
    margin-bottom: 1em;
    display: flex;
    line-height: 19px;

    select.oc--pagination--limit {
        margin-left: 1em;
        font-size: 1.2em;
        line-height: 19px;
    }

    button {
        padding: 3px 16px;
        border: 1px solid #ddd;
        float: left;
        cursor: pointer;

        &:disabled {
            cursor: default
        }

        &.oc--paging-arrow {
            padding: 3px 8px;

            img {
                vertical-align: middle;
                width: 24px;
                height: 24px;
            }
        }
    }

    .active {
        background-color: $base_color;
        color: white;
        cursor: default
    }
}

/* * * * * * * * * * * * * * * */
/*   E P I S O D E   L I S T   */
/* * * * * * * * * * * * * * * */

.oc--playercontainer {
    background: $episode-background;
    margin-top: 1em;
    height: $item-height;
    width: 119px;

    .oc_playerframe {
        display: block;
        margin: 0 auto;
    }

    .theodul {
        min-width: 100%;
        height: 360px;
    }

    span.oc--unavailable {
        display: block;
        min-height: 60px;
        text-align: center;
        border: 1px solid $light-gray-color-40;
    }

    a .oc--previewimage {
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    span.oc--previewimage {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        min-height: 60px;

        &:hover {
            img.play-button, img.livebutton:not(.disabled) {
                opacity: 0.9;
            }
        }

        img.oc--previewimage {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        > img.oc--image-button {
            position: absolute;
            width: 50%;
            left: 25%;
            max-height: 80px;
            padding-bottom: 0;
            bottom: 50%;
            transform: translateY(50%);
        }

        img.livebutton {
            position: absolute;
            width: 75%;
            left: 10%;
            max-height: 300px;
            opacity: 0.6;
            padding-bottom: 0;
            bottom: 0%;
            transform: translateY(50%);
        }

        span.oc--livestream-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $base-color;
            &.is-live{
                color: $red !important;
            }

            span.oc--livestream-text {
                font-size: $font-size-h4;
                font-weight: $headings-font-weight;
                text-transform: uppercase;
            }

            span.oc--livestream-timer {
                font-size: $font-size-h5;
            }
        }

        span.oc--duration {
            position: absolute;
            background-color: $base_color;
            color: white;
            padding: 0 5px;
            font-weight: bold;
        }

        span.oc--views {
            img {
                height: auto !important;
            }

            display: flex;
            align-items: center;
            gap: 3px;
            position: absolute;
            background-color: $base_color;
            color: white;
            padding: 0 5px;
            font-weight: bold;
        }
    }
}

.oc--metadata--empty {
    div {
        margin-bottom: 5px;
    }
}

.oc--metadata-description {
    margin-top: 0.5em;
}


.oc--episode-buttons {
    display: inline-flex;
    flex-wrap: wrap;

    button.download::before {
        background-position: 0px 3px;
        height: 20px;
    }
}

.oc--episode-list, .oc--episode-table, .oc--playlist {
    clear: both;
    padding-left: 0;
    list-style: none;
    overflow: auto;
    height: auto;

    img.oc--previewimage {
        max-height: 130px;
    }

    .oc--duration {
        bottom: 1em;
        right: 1em;
    }

    .oc--views {
        top: 1em;
        right: 1em;
    }
}

.oc--episode-table--small {
    clear: both;
    padding-left: 0;
    overflow: auto;
    height: auto;


    .oc--episode {
        overflow: hidden;
        max-height: 70px;

        .dragarea .oc--drag-handle {
            cursor: move;
        }

        .oc--playercontainer {
            background-color: transparent;

            img.oc--previewimage {
                max-height: 60px;
                min-width: 90px;
            }

            .oc--duration{
                bottom: 0px;
                right: 0px;
            }

            .oc--views {
                left: 0px;
                bottom: 0px;
            }

            .oc--image-button {
                height: 40px;
                opacity: 0.6;
            }
        }

        .oc--metadata-title {
            overflow: hidden;

            .oc--title-container {
                display: flex;
                gap: 5px;

                margin: 0;
                hyphens: auto;
                overflow-wrap: break-word;
                max-height: 3em;
            }

            a {
                cursor: pointer;
            }

            .oc--tags {
                display: flex;
                flex-wrap: wrap;
                row-gap: 5px;

                margin-top: 8px;
                overflow: auto;
            }
        }

        .oc--presenters {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .oc--metadata--empty {

            h2, div {
                margin-bottom: 5px;
            }
        }

        .oc--tooltips {
            .tooltip {
                margin: 5px 0 0 5px;
            }
        }
    }

    .oc--ghost {
        opacity: 0.5;
        background: dodgerblue;
    }
}

.oc--episode-list--empty, oc--episode-table--empty {
    opacity: 0.7;
}

.oc--episode--invisible {
    background-color: #FFFFCC;
}

.oc--title--invisible-info {
    font-size: 0.8em;
}

.oc--loadingbar {
    border-radius: 15px;
    background-color: darken($episode-background, 20%);
    height: 20px;
    width: 300px;
    display: block;
}

span.oc--loadingbar {
    width: 90%;
}

li.oc--loadingbar {
    margin: 5px 0px;
}

h2.oc--loadingbar, .oc--loadingbar-title {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.oc--server--mini-card {
    input[type=radio] {
        float: left;
    }

    span {
        display: block;
        margin-left: 2em;
    }
}

/* * * * * * * * * * * * * * */
/*   A C T I O N   M E N U   */
/* * * * * * * * * * * * * * */

.action-menu-icon {
    background: transparent;
    border: 0;

    // Create animated icon that changes to close icon on activation/hover
    span {
        width: 5px;
        height: 5px;
        transform: translate(-2.5px);
        transition: all .25s ease-in-out;

        display: block;
        position: absolute;
        background:  $base-color;
        border-radius: 50%;
        opacity: 1;
        left: 50%;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 10px;
            transform: translate(-2.5px, -2.5px);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }
}

.action-menu-wrapper.is-open {
    z-index: 3;
    .action-menu-icon {
        span {
            border-radius: 0;

            &:nth-child(1) {
                left: 0;
                transform: rotate(45deg) translate(5.5px, 5.5px);
                width: 100%;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                left: 0;
                transform: rotate(-45deg) translate(5px, -5px);;
                width: 100%;
            }
        }
    }
}

.oc--menuentry--disabled {
    color: $light-gray-color-40 !important;
    cursor: default !important;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * */
/*   M U L T I   P U R P O S E   S E A R C H B A R   */
/* * * * * * * * * * * * * * * * * * * * * * * * * * */

.oc--searchbar {
    clear: both;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;

    .oc--searchbar-container {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        float: left;
        margin-right: 5px;

        display: flex;
        flex-direction: row;
        overflow: auto;

        li {
            padding: none;
            white-space: nowrap;
        }

        border: 1px solid $light-gray-color-40;
    }

    .oc--searchbar--input {
        padding: 8px;
        width: 100%;
        min-width: 8em;

        input {
            &:focus {
                outline: none;
            }

            padding: 0px;
            font-size: 16px;
            border: none;
            width: 100%;
        }
    }

    .oc--searchbar--search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;

        border-left: thin solid $content-color-40;
        background-color: $content-color-20;

        cursor: pointer;
    }

    select.oc--searchbar-sorter {
        height: 40px;
    }

    .oc--tokenselector {
        position: absolute;
        z-index: 10;
        border: thin solid $content-color-40;
        background-color: $white;
        margin-top: 12px;
        min-width: 130px;


        @include arrow-top-border(9px, white, 1px, $content-color-40, 12px);

        &::before, &::after {
            right: 90%;
        }

        /*
        &::before {
            border: 9px solid rgba(208, 215, 227, 0);
            border-bottom-color: rgba(208, 215, 227, 0);
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: $content-color-40;
            bottom: 100%;
            left: 5px;
            margin-right: -9px;
        }
        */

        ul, li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: block;
            padding: 0.5em;
            cursor: pointer;

            &:hover {
                background-color: $light-gray-color-20;
            }
        }

        .oc--tokenselector--comparison {
            position: relative;

            span {
                position: absolute;
                right: 10px;
                color: $dark-gray-color-80;
            };
        }

        .oc--tokenselector--disabled-option {
            color: $dark-gray-color-60;
            cursor: default;

            &:hover {
                background-color: $dark-gray-color-5;
            }
        }
    }

    .oc--searchbar-token {
        margin: 3px;
        padding: 5px;
        border: solid thin $black;
        background-color: $content-color-20;

        display: inline;

        span {
            margin: 0px 5px;
            display: inline-block;
            vertical-align: middle;

            &.oc--shorten-token {
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 60px;
            }
        }

        .oc--remove-filter {
            vertical-align: middle;
            cursor: pointer;
        }
    }
}

.oc--bulk-actions {
    input[type=checkbox] {
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* * * * * * * * * * * * * * * * * */
/*   E P I S O D E   U P L O A D   */
/* * * * * * * * * * * * * * * * * */

.oc--file-preview {
    .oc--file-name, .oc--file-size {
        display: block;
    }

    border-bottom: 1px solid $base_color;
}

.oc--timestamp-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
        margin-top: .5ex;
        padding: 5px;
        border: 1px solid #c5c7ca;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: $light-gray-color-20;
        }

        &.oc--trash-button {
            img {
                vertical-align: middle;
                width: 18px;
                height: 18px;
            }
        }
    }
}

.oc--datetime-input {
    display: block;
    margin-top: .5ex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c5c7ca;
    color: #3c434e;
    max-width: 48em;
    padding: 5px;
    width: 100%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    text-indent: .25ex;
}

.oc--progress {
    width: 100%;
    height: 2em;
    border: 1px solid $base-gray;

    .oc--progress-bar {
        background-color: $base_color;
        height: 2em;
        text-align: center;

        span {
            line-height: 2em;
            color: $content-color-10;
            font-weight: bold;
        }
    }

    margin: 5px 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * */
/*   A D M I N I S T R A T I O N   C L A S S E S   */
/* * * * * * * * * * * * * * * * * * * * * * * * * */

.oc--admin--server-card {
    background-color: $base-color;
    color: $content-color-10;

    .oc--admin--server-image {
        height: 50px;
        width: 100%;
        background-color: $black;

        span {
            display:block;
            width: 50px;
            float: left;
            margin-left: 10px;
        }

        .oc--admin--server-id {
            color: $base-gray;
            float: right;
            font-size: 2em;
            line-height: 50px;
            text-align: right;
            margin-right: 10px;
        }

        .oc--admin--server-icons {
            float: left;
            margin-top: 8px;
        }
    }

    .oc--admin--server-data {
        width: 100%;
        height: 100px;
        cursor: pointer;

        div {
            font-size: 1.25em;
            padding: 5px 5px 0 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .oc--admin-server-add {
        text-align: center;
        line-height: 75px;
    }
}

.oc--admin--server-card-grid {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 405px));
    grid-gap: 10px;
}

.oc--opencast-icon-small {
    display: inline-block;
    width: 24px;
    padding-right: 10px;
    margin-left: -15px;

    svg {
        vertical-align: middle;
    }
}

.oc--lang {
    vertical-align: text-top;
}

.oc--admin-password {
    input[type=password] {
        margin-top: 0 ! important;
    }

    span {
        img[data-name=invisible] {
            display: none;
        }
    }
}


/* * * * * * * * * * * */
/*   S  I D E B A R    */
/* * * * * * * * * * * */

.oc--sidebar-links {
    li {
        cursor: pointer;
        color: $origin-base-color;

        &:hover {
            color: $red;
        }

        img {
            margin-top: -2px;
        }
    }
}

.oc--sidebar-dropdown-wrapper {
    &:not(:first-of-type) {
        margin-top: 7px;
    }
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    .oc--sidebar-dropdown-text {
        margin-left: 2px;
    }
    .oc--sidebar-dropdown-select {
        width:100%;
    }
}

/* * * * * * * * * * * * * * * * * * */
/*   D I A L O G   E L E M E N T S   */
/* * * * * * * * * * * * * * * * * * */

div.oc--dialog-possibilities {
    $width: 100px;
    $height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

    > a {
        cursor: pointer;
        background-color: transparent;
        margin: 10px;
        border: thin solid var(--content-color-20);
        padding: 10px;
        width: $width;
        min-width: $width;
        max-width: $width;
        height: $height;
        min-height: $height;
        max-height: $height;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        > img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.oc--tooltip--copy {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.oc--tooltip--copy-success {
    border: 1px solid var(--content-color-20);
    background-color: var(--content-color-20);
    padding: 5px;
    color: $headings-color;

    position: absolute;
    margin-top: -36px;

    display: none;
}

.oc--display--block {
    display: block;
}


/* * * * * * * * * * * * * * * * * * */
/*   U P L O A D   E L E M E N T S   */
/* * * * * * * * * * * * * * * * * * */

label.oc--file-upload {
    cursor: pointer;
    color: $base-color;

    &:hover {
        background-color: none;
    }

    input[type=file] {
        display: none;
    }

    .filename {
        padding-left: 0.5em;
        color: $light-gray-color-80;
    }
}

.oc--button-bar {
    label {
        float: left;
    }

    clear: both;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

/* * * * * * * * * * * * * * * * * * * * * */
/*   S C R E E N S I Z E   C L A S S E S   */
/* * * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: $major-breakpoint-large) {
    .oc--playercontainer span.oc--previewimage img.oc--image-button {
        max-height: 50px;
    }

    .oc--playercontainer span.previewimage img.livebutton {
        max-height: 300px;
    }

    .ocplayerlink {
        clear: both;
        margin-left: 0px;

        .button {
            text-indent: -9999px;
            min-width: 40px;
            white-space: nowrap;
            padding-right: 6px;
        }
    }
}

@media only screen and (max-width: $major-breakpoint-large) {
    .oc--playercontainer span.oc--previewimage img.image-button {
        max-height: 100px;
    }

    .oc--playercontainer span.previewimage img.livebutton {
        max-height: 300px;
    }

    .ocplayerlink .button {
        text-indent: -9999px;
        min-width: 40px;
        white-space: nowrap;
        padding-right: 6px;
    }
}

@media only screen and (max-width: $major-breakpoint-large) {
    .oc--episode-table--small {

        .oc--episode {
            max-height: 100px;

            .oc--metadata-title {
                max-height: 1.4em;

                .oc--title-container {
                    overflow: auto;
                }
            }

            .oc--tags {
                max-height: 3em;
                margin-bottom: 0;
            }
        }
    }
}

.oc--pagination-mobile {
    @extend .oc--pagination;
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: $major-breakpoint-small) {
    .oc--pagination {
        visibility: hidden;
        display: none;
    }
    .oc--pagination-mobile {
        visibility: visible;
        display: flex;
    }
}

/* * * * * * * * * * * * */
/*   P L A Y L I S T S   */
/* * * * * * * * * * * * */

.oc--playlist-visibility {
    display: inline-block;

    img {
        vertical-align: middle;
    }

    span {
        display: inline-block;
        margin-left: 4px;
        margin-top: 2px;
        vertical-align: middle;
    }
}

.oc--playlist-title-contanier {
    position: relative;
    padding-right: 18px;
    display: flex;
    align-items: center;
    .oc--playlist-title {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .oc--playlist-default-icon {
        position: absolute;
        right: 1px;
        top: 52%;
        transform: translateY(-50%);
    }
}

.oc--tags {

    &-video {
        margin-bottom: 8px;

        & > span {
            background-color: $light-gray-color-40;
        }
    }
    &-playlist {
        & > span {
            background-color: $light-gray-color-20;
        }
    }

    & > span {
        display: inline-block;
        align-items: center;
        border-radius: 3px;
        margin-right: 5px;
        padding-right: 4px;

        img {
            vertical-align: middle;
            margin: 0 4px;
        }
    }
}

.button.remove {
    @include button-with-icon(remove, clickable, info_alt);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*   S T U D I P   S T Y L E S   B A C K P O R T E D   F O R   4 . 6   */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.studip-v-select, .studip-v-select-detachted-ul {
    max-width: 48em;

    .vs__option-with-icon{
        padding-left: 8px;
    }

    .vs__option-color {
        border: solid thin $content-color-40;
        padding-left: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .vs__dropdown-toggle {
        border: solid thin $content-color-40;
        border-radius: 0;
    }

    .vs__dropdown-menu, &.vs__dropdown-menu {
        border-radius: 0;
    }

    &.studip-v-select-drop-up {
        border-bottom: solid thin $content-color-40;
        border-top: none;
    }

    &.studip-v-select-ul-drop-up {
        border-bottom: none;
        border-top: solid thin $content-color-40;
        box-shadow: 0px -3px 6px 0 rgba(0, 0, 0, 0.15);
    }

    &.studip-v-select-ul-dialog {
        z-index: 3002;
    }
}



/* * * * * * * * * * * * */
/*   S C H E D U L E R   */
/* * * * * * * * * * * * */
.oc--schedule-list {
    td.oc-schedule-slider {
        padding-left: 1em ! important;
        padding-right: 1em ! important;

        .slider-text {
            text-align: center;
        }
    }

    td {
        img {
            vertical-align: text-bottom;
        }
    }

    td.oc-schedule-actions, th.oc-schedule-actions {
        text-align: center;
        .oc-schedule-action-item-wrapper {
            width: 100%;
            display: inline-flex;
            justify-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            .oc-schedule-action-item {
                &:not(:first-of-type) {
                    margin-left: .5em;
                }
            }
        }
    }

    td.oc-schedule-status, th.oc-schedule-status {
        text-align: center;
        span {
            &.text-red {
                color: var(--red);
            }
            font-weight: bold;
        }
    }

    tfoot {
        border-top: 1px solid var(--base-color, #1e3e70);
        background-color: var(--content-color-20, #e7ebf1);
        tr {
            td.thead {
                button.button {
                    &:first-of-type {
                        margin-left: .4em;
                    }
                }
            }
        }
    }
}

/* * * S L I D E R * * */
.slider-target,.slider-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box;touch-action:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.slider-target{position:relative}.slider-base,.slider-connects{height:100%;position:relative;width:100%;z-index:1}.slider-connects{overflow:hidden;z-index:0}.slider-connect,.slider-origin{height:100%;position:absolute;right:0;top:0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform-style:preserve-3d;transform-style:flat;width:100%;will-change:transform;z-index:1}.slider-txt-dir-rtl.slider-horizontal .slider-origin{left:0;right:auto}.slider-vertical .slider-origin{top:-100%;width:0}.slider-horizontal .slider-origin{height:0}.slider-handle{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute}.slider-touch-area{height:100%;width:100%}.slider-state-tap .slider-connect,.slider-state-tap .slider-origin{transition:transform .3s}.slider-state-drag *{cursor:inherit!important}.slider-tooltip-drag .slider-tooltip,.slider-tooltip-focus .slider-tooltip{display:none!important}.slider-tooltip-drag .slider-active .slider-tooltip,.slider-tooltip-drag.slider-state-drag .slider-tooltip:not(.slider-tooltip-hidden),.slider-tooltip-focus.slider-focused .slider-tooltip:not(.slider-tooltip-hidden){display:block!important}.slider-horizontal{height:var(--slider-height,6px)}.slider-horizontal .slider-handle{height:var(--slider-handle-height,16px);right:calc(var(--slider-handle-width, 16px)/2*-1);top:calc((var(--slider-handle-height, 16px) - var(--slider-height, 6px))/2*-1 + -1px);width:var(--slider-handle-width,16px)}.slider-vertical{height:var(--slider-vertical-height,300px);width:var(--slider-height,6px)}.slider-vertical .slider-handle{bottom:calc(var(--slider-handle-width, 16px)/2*-1);height:var(--slider-handle-width,16px);right:calc((var(--slider-handle-height, 16px) - var(--slider-height, 6px))/2*-1 + -1px);width:var(--slider-handle-height,16px)}.slider-txt-dir-rtl.slider-horizontal .slider-handle{left:calc(var(--slider-handle-width, 16px)/2*-1);right:auto}.slider-base{background-color:var(--slider-bg,#d1d5db)}.slider-base,.slider-connects{border-radius:var(--slider-radius,9999px)}.slider-connect{background:var(--slider-connect-bg,#10b981);cursor:pointer}.slider-draggable{cursor:ew-resize}.slider-vertical .slider-draggable{cursor:ns-resize}.slider-handle{background:var(--slider-handle-bg,#fff);border:var(--slider-handle-border,0);border-radius:var(--slider-handle-radius,9999px);box-shadow:var(--slider-handle-shadow,.5px .5px 2px 1px rgba(0,0,0,.32));cursor:-webkit-grab;cursor:grab;height:var(--slider-handle-height,16px);width:var(--slider-handle-width,16px)}.slider-handle:focus{box-shadow:0 0 0 var(--slider-handle-ring-width,3px) var(--slider-handle-ring-color,rgba(16,185,129,.188)),var(--slider-handle-shadow,.5px .5px 2px 1px rgba(0,0,0,.32));outline:none}.slider-active{box-shadow:var(--slider-handle-shadow-active,.5px .5px 2px 1px rgba(0,0,0,.42));cursor:-webkit-grabbing;cursor:grabbing}[disabled] .slider-connect{background:var(--slider-connect-bg-disabled,#9ca3af)}[disabled] .slider-handle,[disabled].slider-handle,[disabled].slider-target{cursor:not-allowed}[disabled] .slider-tooltip{background:var(--slider-tooltip-bg-disabled,#9ca3af);border-color:var(--slider-tooltip-bg-disabled,#9ca3af)}.slider-tooltip{background:var(--slider-tooltip-bg,#10b981);border:1px solid var(--slider-tooltip-bg,#10b981);border-radius:var(--slider-tooltip-radius,5px);color:var(--slider-tooltip-color,#fff);display:block;font-size:var(--slider-tooltip-font-size,.875rem);font-weight:var(--slider-tooltip-font-weight,600);line-height:var(--slider-tooltip-line-height,1.25rem);min-width:var(--slider-tooltip-min-width,20px);padding:var(--slider-tooltip-py,2px) var(--slider-tooltip-px,6px);position:absolute;text-align:center;white-space:nowrap}.slider-horizontal .slider-tooltip-top{bottom:calc(var(--slider-handle-height, 16px) + var(--slider-tooltip-arrow-size, 5px) + var(--slider-tooltip-distance, 3px));left:50%;transform:translate(-50%)}.slider-horizontal .slider-tooltip-top:before{border:var(--slider-tooltip-arrow-size,5px) solid transparent;border-top-color:inherit;bottom:calc(var(--slider-tooltip-arrow-size, 5px)*-2);content:"";height:0;left:50%;position:absolute;transform:translate(-50%);width:0}.slider-horizontal .slider-tooltip-bottom{left:50%;top:calc(var(--slider-handle-height, 16px) + var(--slider-tooltip-arrow-size, 5px) + var(--slider-tooltip-distance, 3px));transform:translate(-50%)}.slider-horizontal .slider-tooltip-bottom:before{border:var(--slider-tooltip-arrow-size,5px) solid transparent;border-bottom-color:inherit;content:"";height:0;left:50%;position:absolute;top:calc(var(--slider-tooltip-arrow-size, 5px)*-2);transform:translate(-50%);width:0}.slider-vertical .slider-tooltip-left{right:calc(var(--slider-handle-height, 16px) + var(--slider-tooltip-arrow-size, 5px) + var(--slider-tooltip-distance, 3px));top:50%;transform:translateY(-50%)}.slider-vertical .slider-tooltip-left:before{border:var(--slider-tooltip-arrow-size,5px) solid transparent;border-left-color:inherit;content:"";height:0;position:absolute;right:calc(var(--slider-tooltip-arrow-size, 5px)*-2);top:50%;transform:translateY(-50%);width:0}.slider-vertical .slider-tooltip-right{left:calc(var(--slider-handle-height, 16px) + var(--slider-tooltip-arrow-size, 5px) + var(--slider-tooltip-distance, 3px));top:50%;transform:translateY(-50%)}.slider-vertical .slider-tooltip-right:before{border:var(--slider-tooltip-arrow-size,5px) solid transparent;border-right-color:inherit;content:"";height:0;left:calc(var(--slider-tooltip-arrow-size, 5px)*-2);position:absolute;top:50%;transform:translateY(-50%);width:0}.slider-horizontal .slider-origin>.slider-tooltip{left:auto;transform:translate(50%)}.slider-horizontal .slider-origin>.slider-tooltip-top{bottom:calc(var(--slider-tooltip-arrow-size, 5px) + (var(--slider-handle-height, 16px) - var(--slider-height, 6px))/2 + var(--slider-tooltip-distance, 3px) + 1px)}.slider-horizontal .slider-origin>.slider-tooltip-bottom{top:calc(var(--slider-tooltip-arrow-size, 5px) + (var(--slider-handle-height, 16px) - var(--slider-height, 6px))/2 + var(--slider-tooltip-distance, 3px) + var(--slider-height, 6px) - 1px)}.slider-vertical .slider-origin>.slider-tooltip{top:auto;transform:translateY(calc((var(--slider-tooltip-line-height, 1.25rem) - var(--slider-tooltip-py, 2px))*-1 + 1px))}.slider-vertical .slider-origin>.slider-tooltip-left{right:calc(var(--slider-tooltip-arrow-size, 5px) + var(--slider-height, 6px) + (var(--slider-handle-height, 16px) - var(--slider-height, 6px))/2 + var(--slider-tooltip-distance, 3px) - 1px)}.slider-vertical .slider-origin>.slider-tooltip-right{left:calc(var(--slider-tooltip-arrow-size, 5px) + var(--slider-height, 6px) + (var(--slider-handle-height, 16px) - var(--slider-height, 6px))/2 + var(--slider-tooltip-distance, 3px) - var(--slider-height, 6px) + 1px)}


/*SChedule Loading*/
.oc--schedule-loading {

    .oc--loading-container {
        span {
            background-color: var(--base-color, #1e3e70);
            border-radius: 50%;
            height: 10px;
            position: relative;
            width: 10px;
            display: inline-block;

            &.load-1 {
                animation: loading-animation-1 1s linear infinite;
            }

            &.load-2 {
                animation: loading-animation-2 1s linear infinite;
            }

            &.load-3 {
                animation: loading-animation-3 1s linear infinite;
            }
        }
    }

    @keyframes loading-animation-1 {
        0%   { transform: scale(1); }
        16%  { transform: scale(1.3); }
        33%  { transform: scale(1); }
        100% { transform: scale(1); }
    }

    @keyframes loading-animation-2 {
        0%   { transform: scale(1); }
        33%  { transform: scale(1); }
        49%  { transform: scale(1.3); }
        65%  { transform: scale(1); }
        100% { transform: scale(1); }
    }

    @keyframes loading-animation-3 {
        0%   { transform: scale(1); }
        66%  { transform: scale(1); }
        81%  { transform: scale(1.3); }
        100% { transform: scale(1); }
    }
}

/* Slider */
.oc--slider{
    --slider-bg: var(--white);
    --slider-connect-bg:  var(--brand-color-lighter);
    --slider-connect-bg-disabled: #f6f6f6;
    --slider-height: .8em;
    --slider-vertical-height: 100px;
    --slider-radius: 0;

    --slider-handle-bg: #f6f6f6;
    --slider-handle-border: 1px solid #c5c5c5;
    --slider-handle-width: 1.3em;
    --slider-handle-height: 1.3em;
    --slider-handle-radius: 0;
    --slider-handle-shadow: none;
    --slider-handle-shadow-active: none;
    --slider-handle-ring-width: 3px;
    --slider-handle-ring-color: var(--brand-color-lighter);

    --slider-tooltip-font-size: 0.875rem;
    --slider-tooltip-line-height: 1.25rem;
    --slider-tooltip-font-weight: 600;
    --slider-tooltip-min-width: 20px;
    --slider-tooltip-bg: var(--white);
    --slider-tooltip-bg-disabled: #9CA3AF;
    --slider-tooltip-color: #fff;
    --slider-tooltip-radius: 0;
    --slider-tooltip-py: 2px;
    --slider-tooltip-px: 6px;
    --slider-tooltip-arrow-size: 5px;
    --slider-tooltip-distance: 3px;

    .slider-connects{
        border: 1px solid #c5c5c5;
        .slider-connect {
            height: 104%;
            cursor: default;
        }
    }

    .slider-origin {
        .slider-handle {
            top: -0.3em;
            cursor: default;
            &:focus-visible, &:active {
                border: 1px solid #003eff;
                background-color: var(--brand-color-lighter);
            }
            &:hover {
                background-color: var(--brand-color-lighter);
            }
        }
    }
}

/* * * * * * * * * * * */
/*   M E S S A G E S * */
/* * * * * * * * * * * */

.oc--messages-float {
    position: sticky;
    bottom: 0px;
}

/* * * * * * * * * * * * * * * * * */
/*   E M B E D D I N G   C O D E   */
/* * * * * * * * * * * * * * * * * */

.oc--embedding-code-text {
    width: 100%;
    box-sizing: border-box;
}
