.form_list {
    margin:             1em;
    list-style-type:    none !important;

}

.form_item {
    margin-bottom:      4px;
    padding:            3px;
}

.form_label {
    float:              left;
    margin-right:       5px;
    text-align:         right;
    width:              40%;
}

.form_submit {
    text-align:         center;
}

/* resources */

.resources {
    padding-left: 35%;
    text-align: center;
}

.resource {
    width: 50%;
    
}

.rcontent{
    padding-bottom: 5px;
}

.series_select {
    width: 50%;
    display: inline;
}

.serieslist {
    border-left: 1px dashed #bbbbbb;
    padding-left: 20px;
}

.ocphead {
    background-color: #F3F5F8;
    border-bottom: 1px solid #EAEAEA;

}

.ocphead a {
    color: #222;
    text-decoration: none;
}

.occontet {
    border-bottom: 1px solid #EAEAEA;
    text-align: left;
}

.occontetlist {
    list-style-type: none;
    white-space: nowrap;
    padding-left: 10px;
}

.ocplayerlink {
    border-bottom: 1px solid #CCC;
    text-align: left;
}
#file_wrapper { display: inline-block; overflow: hidden; height: 40px; width:130px; background-color: transparent; position: relative;}
#video_upload { font-size: 99px; opacity: 0; cursor: pointer; position: absolute; right: 0px; top: 0px;}