.conf-form {
  padding-bottom: 19px;
}
.conf-form-field {
  padding: 0;
  margin: 0;
  border: 0;
}
.conf-form-field legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.conf-form-field label p {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.conf-form-field input {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form_list {
  margin: 1em;
  list-style-type: none !important;
}
.form_item {
  margin-bottom: 4px;
  padding: 3px;
}
.form_label {
  float: left;
  margin-right: 5px;
  text-align: right;
  width: 40%;
}
.form_submit {
  text-align: center;
}
/* resources */
.resources {
  padding-left: 35%;
  text-align: center;
}
.resource {
  width: 50%;
}
.rcontent {
  padding-bottom: 5px;
}
.series_select {
  width: 50%;
  display: inline;
}
.serieslist {
  border-left: 1px dashed #bbbbbb;
  padding-left: 20px;
}
.ocphead {
  background-color: #F3F5F8;
  border-bottom: 1px solid #EAEAEA;
}
.ocphead a {
  color: #222;
  text-decoration: none;
}
.occontet {
  border-bottom: 1px solid #EAEAEA;
  text-align: left;
}
/**
 * Flex-Episodelist
 */
.oc_flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-box-flex;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 1em;
}
.oc_flexitem {
  display: inline-block;
  position: relative;
}
.oc_flexplaycontainer {
  margin: 0 1px;
}
.oc_flexepisodelist {
  background: #ffffff transparent;
  background: rgba(255, 255, 255, 0.8);
  padding: 5ex;
  background-color: #F3F5F8;
  margin-top: 1em;
  padding: 0.5em;
  width: 600px;
  height: auto;
  min-width: 310px;
}
@media only screen and (max-width: 1685px) {
  .oc_flexepisodelist {
    width: 450px;
  }
}
@media only screen and (max-width: 1600px) {
  .oc_flexepisodelist {
    width: 300px;
  }
}
@media only screen and (max-width: 1480px) {
  .oc_flexepisodelist {
    width: 100%;
  }
}
.oce_playercontainer {
  background: #ffffff transparent;
  background: rgba(255, 255, 255, 0.8);
  padding: 5ex;
  background-color: #F3F5F8;
  margin-top: 1em;
  padding: 0.5em;
  z-index: 1999;
  width: 720px;
  height: auto;
}
.oce_playercontainer .oc_playerframe {
  display: block;
  margin: 0 auto;
  width: 460px;
  height: 415px;
}
@media only screen and (max-width: 1070px) {
  .oce_playercontainer {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .oce_playercontainer {
    width: auto;
    height: auto;
  }
  .oce_playercontainer .oc_playerframe {
    width: 380px;
    height: 335px;
  }
  .oce_playercontainer .ocplayerlink {
    display: none;
  }
}
.oce_contetlist {
  list-style-type: none;
  white-space: nowrap;
  padding-left: 0px;
}
.oce_list {
  clear: both;
  padding-left: 0px;
  list-style: none;
  overflow: scroll;
  height: auto;
}
.oce_emetadata {
  font-size: 80%;
  margin-left: 0.5em;
}
.oce_episode_search {
  float: right;
  margin-right: 0.5em;
  padding-bottom: 5px;
}
.oce_active_li {
  background-color: #F3F5F4;
}
.oce_list li {
  padding: .7em 1em;
  border-right-width: 1px;
  border-left-width: 1px;
  border-width: 1px 0 0;
  border-style: solid;
  margin: 0;
  display: block;
  position: relative;
  overflow: hidden;
  border-color: #ddd;
  vertical-align: center;
}
.oce_preview_container {
  position: relative;
}
.oce_preview_container p {
  position: absolute;
  width: 125px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  margin: -1% 0 0 0;
}
.oce_preview {
  padding-left: 5px;
  position: absolute;
  left: 0;
  top: 8px;
  max-height: 96px;
  max-width: 120px;
}
.oce_metadatacontainer {
  display: block;
  padding-left: 125px;
}
.oce_metadata {
  top: -10px;
  position: relative;
}
.oce_item:hover {
  background-color: #d4dbe5;
}
.hidden_ocvideo {
  opacity: 0.5;
}
#oce_sortablelist > li {
  cursor: move;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.oce_failedstate {
  color: #24437c;
}
/*.hidden_ocvideodiv:before{
  content:url("../../../../assets/images/icons/16/blue/visibility-invisible.png");
}*/
.hidden_ocvideodiv {
  opacity: 0.8;
}
/** upload dialog **/
.ocUpload > .ui-widget-header,
.ocConfig > .ui-widget-header {
  background: #1e3e70;
  border: 0;
  font-size: 1.3em;
  font-weight: normal;
}
.oc_config_infotext {
  text-align: left;
  padding: 1em;
  display: block;
}
label > h4 {
  margin: 0;
  padding: 5px 0;
}
#upload_form .form_submit {
  border: 1px solid #a6c9e2;
}
input[type=text].oc_input,
input[type=email].oc_input,
input[type=url].oc_input,
input[type=date].oc_input,
input[type=password].oc_input,
textarea.oc_input {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text].oc_input,
input[type=email].oc_input,
input[type=url].oc_input,
input[type=date].oc_input,
input[type=password].oc_input {
  width: 50%;
}
input[type=text].oc_input:focus,
input[type=email].oc_input:focus,
input[type=url].oc_input:focus,
input[type=date].oc_input:focus,
input[type=password].oc_input:focus,
textarea.oc_input:focus {
  outline: 0;
  border-color: #4697e4;
}
/***** Buttons ****/
.button.ocextern,
.button.download,
.button.ocspecial {
  white-space: normal;
}
.button.download:before,
.button.ocextern:before,
.button.ocspecial:before {
  content: " ";
  float: left;
  height: 16px;
  margin: -2px 8px 0 -4px;
  width: 16px;
}
.button.presenter:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/file-video.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/file-video.png") 1x, url("../../../../assets/images/icons/32/blue/file-video.png") 2x);
}
.button.presentation:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/file-presentation.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/file-presentation.png") 1x, url("../../../../assets/images/icons/32/blue/file-presentation.png") 2x);
}
.button.audio:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/file-audio.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/file-audio.png") 1x, url("../../../../assets/images/icons/32/blue/file-audio.png") 2x);
}
.button.ocextern:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/link-intern.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/link-intern.png") 1x, url("../../../../assets/images/icons/32/blue/link-intern.png") 2x);
}
.button.ocschedule:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/video.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/video.png") 1x, url("../../../../assets/images/icons/32/blue/video.png") 2x);
}
.button.ocunschedule:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/trash.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/trash.png") 1x, url("../../../../assets/images/icons/32/blue/trash.png") 2x);
}
.button.ocupdate:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/refresh.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/refresh.png") 1x, url("../../../../assets/images/icons/32/blue/refresh.png") 2x);
}
.button.ocvisible:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/visibility-visible.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/visibility-visible.png") 1x, url("../../../../assets/images/icons/32/blue/visibility-visible.png") 2x);
}
.button.ocinvisible:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/visibility-invisible.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/visibility-invisible.png") 1x, url("../../../../assets/images/icons/32/blue/visibility-invisible.png") 2x);
}
/*** Uploader ***/
.oc_mediaupload {
  position: relative;
  padding-top: 3em;
  border-color: #d4dbe5;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
}
.oc_mediaupload_legend {
  background-color: #e7ebf1;
  color: #24437c;
  position: absolute;
  top: 0px;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 2em;
  width: 100%;
  left: 0px;
  font-size: 12pt;
  font-weight: bold;
  text-indent: 1ex;
}
.progressbarholder {
  overflow: hidden;
  padding: 5px 0;
  width: 80%;
  margin: 0 auto;
}
#progressbar {
  display: none;
  border: thin solid lightgrey;
}
#progressbar > div.ui-progressbar-value {
  background-color: #899ab9 !important;
  border-color: #899ab9;
}
#progressbar-label {
  color: white;
  height: 100%;
  float: left;
  margin-left: 50%;
  margin-top: 5px;
}
#video_upload {
  display: block;
  height: 0;
  width: 0;
}
#upload_info {
  display: inline-block;
}
#oc_balls {
  display: none;
  color: #28497c;
  position: absolute;
  width: auto;
  top: 25vh;
  left: 44%;
  z-index: 9000;
}
.oc_opaque {
  opacity: 0.6;
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-scale-ripple-multiple,
.la-ball-scale-ripple-multiple > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-ball-scale-ripple-multiple {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-ball-scale-ripple-multiple.la-dark {
  color: #333;
}
.la-ball-scale-ripple-multiple > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-scale-ripple-multiple {
  width: 32px;
  height: 32px;
}
.la-ball-scale-ripple-multiple > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: transparent;
  border-width: 2px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  -moz-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  -o-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
.la-ball-scale-ripple-multiple > div:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.la-ball-scale-ripple-multiple > div:nth-child(2) {
  -webkit-animation-delay: .25s;
  -moz-animation-delay: .25s;
  -o-animation-delay: .25s;
  animation-delay: .25s;
}
.la-ball-scale-ripple-multiple > div:nth-child(3) {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
.la-ball-scale-ripple-multiple.la-sm {
  width: 16px;
  height: 16px;
}
.la-ball-scale-ripple-multiple.la-sm > div {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
.la-ball-scale-ripple-multiple.la-2x {
  width: 64px;
  height: 64px;
}
.la-ball-scale-ripple-multiple.la-2x > div {
  width: 64px;
  height: 64px;
  border-width: 4px;
}
.la-ball-scale-ripple-multiple.la-3x {
  width: 96px;
  height: 96px;
}
.la-ball-scale-ripple-multiple.la-3x > div {
  width: 96px;
  height: 96px;
  border-width: 6px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-scale-ripple-multiple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  70% {
    opacity: .5;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  95% {
    opacity: 0;
  }
}
@-moz-keyframes ball-scale-ripple-multiple {
  0% {
    opacity: 1;
    -moz-transform: scale(0.1);
    transform: scale(0.1);
  }
  70% {
    opacity: .5;
    -moz-transform: scale(1);
    transform: scale(1);
  }
  95% {
    opacity: 0;
  }
}
@-o-keyframes ball-scale-ripple-multiple {
  0% {
    opacity: 1;
    -o-transform: scale(0.1);
    transform: scale(0.1);
  }
  70% {
    opacity: .5;
    -o-transform: scale(1);
    transform: scale(1);
  }
  95% {
    opacity: 0;
  }
}
@keyframes ball-scale-ripple-multiple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
  }
  70% {
    opacity: .5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  95% {
    opacity: 0;
  }
}
