.conf-form {
    padding-bottom: 19px;
}

.conf-form-field {
    padding: 0;
    margin: 0;
    border: 0;
}

.conf-form-field legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.conf-form-field label p {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.conf-form-field input {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}



.form_list {
    margin:             1em;
    list-style-type:    none !important;

}

.form_item {
    margin-bottom:      4px;
    padding:            3px;
}

.form_label {
    float:              left;
    margin-right:       5px;
    text-align:         right;
    width:              40%;
}

.form_submit {
    text-align:         center;
}

/* resources */

.resources {
    padding-left: 35%;
    text-align: center;
}

.resource {
    width: 50%;
    
}

.rcontent{
    padding-bottom: 5px;
}

.series_select {
    width: 50%;
    display: inline;
}

.serieslist {
    border-left: 1px dashed #bbbbbb;
    padding-left: 20px;
}

.ocphead {
    background-color: #F3F5F8;
    border-bottom: 1px solid #EAEAEA;

}

.ocphead a {
    color: #222;
    text-decoration: none;
}

.occontet {
    border-bottom: 1px solid #EAEAEA;
    text-align: left;
}

.oce_playercontainer {
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0.8);
    width: 99%;
    padding: 5ex;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color:#F3F5F8;
    padding: 0.5em;
    z-index:1999;
}

.oce_contetlist {
    list-style-type: none;
    white-space: nowrap;
    padding-left: 0px;
}

.oce_list {
    padding-left:0px;
    list-style: none;
}

.oce_emetadata {
    font-size: 80%;
}


.oce_list li {
    padding: .7em 1em;
    border-right-width: 1px;
    border-left-width: 1px;
    border-width: 1px 0 0;
    border-style: solid;
    margin: 0;
    display: block;
    position: relative;


    overflow: hidden;
    background-color: #fff;
    border-color: #ddd;
    vertical-align: center;

    
}
.oce_preview {
    position: absolute;
    left: 0;
    top: auto;
    max-height: 96px;
    max-width: 120px;

}


.oce_metadata {
    display:block;
    padding-left: 125px;
}
/***** Buttons ****/

.button.ocextern,
.button.download {
  white-space: normal;
}

.button.download:before,
.button.ocextern:before {
  content: " ";
  float: left;
  height: 16px;
  margin: -2px 8px 0 -4px;
  width: 16px;
}
.button.presenter:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/file-video.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/file-video.png") 1x, url("../../../../assets/images/icons/32/blue/file-video.png") 2x);
}

.button.presentation:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/file-presentation.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/file-presentation.png") 1x, url("../../../../assets/images/icons/32/blue/file-presentation.png") 2x);
}

.button.audio:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/file-audio.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/file-audio.png") 1x, url("../../../../assets/images/icons/32/blue/file-audio.png") 2x);
}


.button.ocextern:before {
  background: no-repeat;
  background-image: url("../../../../assets/images/icons/16/blue/link-intern.png");
  background-image: -webkit-image-set(url("../../../../assets/images/icons/16/blue/link-intern.png") 1x, url("../../../../assets/images/icons/32/blue/link-intern.png") 2x);
}

/*** Uploader ***/

#video_upload {
    display: block;
    height: 0;
    width: 0;
}

#upload_info {
    display: inline-block;
}