.form_list {
    margin:             1em;
    list-style-type:    none !important;

}

.form_item {
    margin-bottom:      4px;
    padding:            3px;
}

.form_label {
    float:              left;
    margin-right:       5px;
    text-align:         right;
    width:              40%;
}

.form_submit {
    text-align:         center;
}

/* resources */

.resources {
    padding-left: 35%;
    text-align: center;
}

.resource {
    width: 50%;
    
}

.rcontent{
    padding-bottom: 5px;
}

.series_select {
    width: 50%;
    display: inline;
}