@import (reference) "assets/stylesheets/less/breakpoints.less";

@item-height: auto;
@item-width : 25em;
@item-height-small: auto;
@item-width-small : 16em;

.conf-form {
    padding-bottom: 19px;
}

.conf-form-field {
    padding: 0;
    margin: 0;
    border: 0;
}

.conf-form-field legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.conf-form-field label p {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.conf-form-field input {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form_list {
    margin: 1em;
    list-style-type: none !important;
}

.form_item {
    margin-bottom: 4px;
    padding: 3px;
}

.form_label {
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 40%;
}

.form_submit {
    text-align: center;
}
/* resources */
.resources {
    padding-left: 35%;
    text-align: center;
}

.resource {
    width: 50%;
}

.rcontent {
    padding-bottom: 5px;
}

.series_select {
    width: 50%;
    display: inline;
}

.serieslist {
    border-left: 1px dashed #bbbbbb;
    padding-left: 20px;
}

.ocphead {
    background-color: #F3F5F8;
    border-bottom: 1px solid #EAEAEA;
}

.ocphead a {
    color: #222;
    text-decoration: none;
}

.occontet {
    border-bottom: 1px solid #EAEAEA;
    text-align: left;
}
/**
 * Flex-Episodelist
 */
.oc_flex {
    .flex();
    .flex-wrap(wrap);
    .flex-justify-content(space-around);
    margin-bottom: 1em;
}

.oc_flexitem {
    display: inline-block;
    position: relative;
}

.oc_flexplaycontainer {
    margin: 0 1px;
    float: left;
    width: @item-width;
    height: @item-height;
}

.oc_flexepisodelist {
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0.8);
    padding: 5ex;
    background-color: #F3F5F8;
    margin-top: 1em;
    padding: 0.5em;
    height: auto;
    width: 100%;
}

.oce_playercontainer {
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0.8);
    background-color: #F3F5F8;
    margin-top: 1em;
    padding-right: 1.5em;
    z-index: 1999;
    height: @item-height;

    .oc_playerframe {
        display: block;
        margin: 0 auto;
    }

    .theodul {
        min-width: 100%;
        height: 360px;
    }

    span.previewimage {
        display: block;
        position: relative;
        left: 0;
        top: 0;

        &:hover {
            img.playbutton {
                opacity: 0.9;
            }
        }

        img.previewimage {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            max-height: 240px;
            object-fit: contain;
        }

        img.playbutton {
            position: absolute;
            width: 50%;
            left: 25%;
            max-height: 100px;
            opacity: 0.6;
            padding-bottom: 0;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}

.oce_contetlist {
    list-style-type: none;
    padding-left: 0;
}

.oce_list {
    clear: both;
    padding-left: 0;
    list-style: none;
    overflow: auto;
    height: auto;
}

.oce_wip {
    cursor: default;
    float: left;
    width: @item-width;
    height: @item-height;

    .oce_wip_preview {
        padding-right: 0.5em;
        text-align: center;

        img {
            height: 6em;
        }
    }
}

.oce_emetadata {
    font-size: 80%;
    margin-left: 0.5em;
}

.oce_episode_search {
    float: left;
    margin-right: 0.5em;
    padding-bottom: 5px;
}

.oce_active_li {
    background-color: #F3F5F4;
}

.oce_list li {
    border-right-width: 1px;
    border-left-width: 1px;
    border-width: 1px 0 0;
    margin: 0;
    display: block;
    position: relative;
    overflow: hidden;
    border-color: #ddd;
    vertical-align: center;
}

.oce_preview_container {
    position: relative;
}

.oce_preview_container p {
    position: absolute;
    width: 125px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    margin: -1% 0 0;
}

.oce_preview {
    padding-left: 5px;
    position: absolute;
    left: 0;
    top: 8px;
    max-height: 96px;
    max-width: 120px;
}

.oce_metadatacontainer {
    display: block;
    margin-left: @item-width;
}

.ocplayerlink {
    margin-left: @item-width;
}

.oce_item {
    height: @item-height;
}

.hidden_ocvideo {
    opacity: 0.5;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.oce_failedstate {
    color: #cc0000;
}

.oce_list_title {
    margin-top: 10px;
}

.hidden_ocvideodiv {
    opacity: 0.8;
}

td.oc-schedule-slider {
    padding-left: 1em ! important;
    padding-right: 1em ! important;

    .slider-text {
        text-align: center;
    }
}
/** upload dialog **/
.ocConfig > .ui-widget-header,
.ocUpload > .ui-widget-header,
.ocWorkflow > .ui-widget-header {
    background: #1e3e70;
    border: 0;
    font-size: 1.3em;
    font-weight: normal;
}

.oc_config_infotext {
    text-align: left;
    padding: 1em;
    display: block;
}

label > h4 {
    margin: 0;
    padding: 5px 0;
}

#upload_form input[type="date"], #upload_form input[type="time"] {
    max-width: 10em;
}

#upload_form .form_submit {
    border: 1px solid #a6c9e2;
}

#upload_form p.help {
    font-size: .9em;
    margin-top: .25em;
}

input[type=date].oc_input,
input[type=email].oc_input,
input[type=password].oc_input,
input[type=text].oc_input,
input[type=url].oc_input,
textarea.oc_input {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

input[type=date].oc_input,
input[type=email].oc_input,
input[type=password].oc_input,
input[type=text].oc_input,
input[type=url].oc_input {
    width: 50%;
}

input[type=date].oc_input:focus,
input[type=email].oc_input:focus,
input[type=password].oc_input:focus,
input[type=text].oc_input:focus,
input[type=url].oc_input:focus,
textarea.oc_input:focus {
    outline: 0;
    border-color: #4697e4;
}
/***** Buttons ****/
.button.download,
.button.ocextern,
.button.ocspecial {
    white-space: normal;
}

.button.download:before,
.button.ocextern:before,
.button.ocspecial:before {
    content: " ";
    float: left;
    height: 16px;
    margin: -2px 8px 0 -4px;
    width: 16px;
}

.button.presenter {
  .icon('before', 'file-video', 'clickable');
}

.button.presenter:hover {
  .icon('before', 'file-video', 'info_alt');
}


.button.presentation {
    .icon('before', 'file-video', 'clickable');
}

.button.presentation:hover {
    .icon('before', 'file-video', 'info_alt');
}


.button.audio {
    .icon('before', 'file-audio', 'clickable');
}

.button.audio:hover {
    .icon('before', 'file-audio', 'info_alt');
}


.button.ocextern {
    .icon('before', 'link-intern', 'clickable');
}

.button.ocextern:hover {
    .icon('before', 'link-intern', 'info_alt');
}


.button.ocschedule {
    .icon('before', 'video', 'clickable');
}

.button.ocschedule:hover {
    .icon('before', 'video', 'info_alt');
}


.button.ocunschedule {
    .icon('before', 'trash', 'clickable');
}

.button.ocunschedule:hover {
    .icon('before', 'trash', 'info_alt');
}


.button.ocupdate {
    .icon('before', 'refresh', 'clickable');
}

.button.ocupdate:hover {
    .icon('before', 'refresh', 'info_alt');
}


.button.ocvisible {
    .icon('before', 'visibility-visible', 'clickable');
}

.button.ocvisible:hover {
    .icon('before', 'visibility-visible', 'info_alt');
}


.button.ocinvisible {
    .icon('before', 'visibility-invisible', 'clickable');
}

.button.ocinvisible:hover {
    .icon('before', 'visibility-invisible', 'info_alt');
}

.button.ocfree {
    .icon('before', 'youtube', 'clickable');
}

.button.ocfree:hover {
    .icon('before', 'youtube', 'info_alt');
}

img.ocinvisible {
    background-color: #FFCCCC;
    border: 4px solid red;
}

.oc_flex {
    .button::before {
        background-position: 0 3px;
        height: 20px !important;
        padding-left: 5px;
    }
}

#opencast, ul.files {
    progress {
        text-align: center;
        height: 1.5em;
        width: 50%;
        -webkit-appearance: progress-bar;
    }

    progress::-webkit-progress-bar {
        background-color: #c9c9c9;
    }

    progress::-webkit-progress-value {
        background-color: #7cc4ff;
    }

    progress::-moz-progress-bar {
        background-color: #7cc4ff;
    }

    summary {
        cursor: pointer;
        font-size: 1.1em;
    }
}
/*** Uploader ***/
.oc_mediaupload {
    position: relative;
    padding-top: 3em;
    border-color: #d4dbe5;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

.oc_mediaupload_legend {
    background-color: #e7ebf1;
    color: #24437c;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 2em;
    width: 100%;
    left: 0;
    font-size: 12pt;
    font-weight: bold;
    text-indent: 1ex;
}

.progressbarholder {
    overflow: hidden;
    padding: 5px 0;
    width: 80%;
    margin: 0 auto;
}

#progressbar {
    display: none;
    border: thin solid lightgrey;
}

#progressbar > div.ui-progressbar-value {
    background-color: #899ab9 !important;
    border-color: #899ab9;
}

#progressbar-label {
    color: white;
    float: left;
    height: 100%;
    float: left;
    margin-left: 40%;
    margin-top: 5px;
}

.video_upload {
    display: block;
    height: 0;
    width: 0;
}

.upload_info {
    display: block;
}

#oc_balls {
    display: none;
    color: #28497c;
    position: absolute;
    width: auto;
    top: 25vh;
    left: 44%;
    z-index: 9000;
}

.oc_opaque {
    opacity: 0.6;
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-scale-ripple-multiple,
.la-ball-scale-ripple-multiple > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-ball-scale-ripple-multiple {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-scale-ripple-multiple.la-dark {
    color: #333;
}

.la-ball-scale-ripple-multiple > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-scale-ripple-multiple {
    width: 32px;
    height: 32px;
}

.la-ball-scale-ripple-multiple > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background: transparent;
    border-width: 2px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    -moz-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    -o-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
}

.la-ball-scale-ripple-multiple > div:nth-child(1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.la-ball-scale-ripple-multiple > div:nth-child(2) {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.la-ball-scale-ripple-multiple > div:nth-child(3) {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.la-ball-scale-ripple-multiple.la-sm {
    width: 16px;
    height: 16px;
}

.la-ball-scale-ripple-multiple.la-sm > div {
    width: 16px;
    height: 16px;
    border-width: 1px;
}

.la-ball-scale-ripple-multiple.la-2x {
    width: 64px;
    height: 64px;
}

.la-ball-scale-ripple-multiple.la-2x > div {
    width: 64px;
    height: 64px;
    border-width: 4px;
}

.la-ball-scale-ripple-multiple.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-scale-ripple-multiple.la-3x > div {
    width: 96px;
    height: 96px;
    border-width: 6px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-scale-ripple-multiple {
    0% {
        opacity: 1;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }

    70% {
        opacity: 0.5;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    95% {
        opacity: 0;
    }
}
@-moz-keyframes ball-scale-ripple-multiple {
    0% {
        opacity: 1;
        -moz-transform: scale(.1);
        transform: scale(.1);
    }

    70% {
        opacity: 0.5;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    95% {
        opacity: 0;
    }
}
@-o-keyframes ball-scale-ripple-multiple {
    0% {
        opacity: 1;
        -o-transform: scale(.1);
        transform: scale(.1);
    }

    70% {
        opacity: 0.5;
        -o-transform: scale(1);
        transform: scale(1);
    }

    95% {
        opacity: 0;
    }
}
@keyframes ball-scale-ripple-multiple {
    0% {
        opacity: 1;
        -webkit-transform: scale(.1);
        -moz-transform: scale(.1);
        -o-transform: scale(.1);
        transform: scale(.1);
    }

    70% {
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    95% {
        opacity: 0;
    }
}


@media only screen and (max-width: @major-breakpoint-large) {
    .oc_flexplaycontainer {
        width: 15em;
    }

    .oce_metadatacontainer {
        margin-left: 15em;
    }

    .oce_playercontainer span.previewimage img.playbutton {
        max-height: 50px;
    }

    .ocplayerlink {
        clear: both;
        margin-left: 0px;
    }
}

@media only screen and (max-width: @major-breakpoint-medium) {
    .oc_flexplaycontainer {
        width: 100%;
    }

    .oce_metadatacontainer {
        margin-left: 0;
    }

    .oce_playercontainer span.previewimage img.playbutton {
        max-height: 100px;
    }
}

.oc-media-upload-dialog-content p {
    font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.oc-media-upload-dialog-content ul.files {
    list-style: none;
    padding-left: 0;
}

.oc-media-upload-dialog-content ul.files li {
    display: flex;
    margin-bottom: .5em;

    span:nth-child(1) {
        flex-grow: 1;
    }

    progress {
        margin-left: .5em;
        margin-right: .5em;
    }

    span:nth-child(3) {
        flex-basis: 4em;
    }
}


#upload_form .messagebox {
    margin-top: 2em;
}

#upload_form footer {
    margin-top: 2em;
}

.oc-media-upload-info {
    list-style: none;
}

.oc-media-upload-info li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 45em;
    margin-top: 2em;
}

.oc-media-upload-info li select {
    width: 10em;
}

.oc-media-upload-info li span {
    margin-right: 1em;
    white-space: nowrap;
}

.oc-media-upload-info li span:nth-child(1) {
    flex-basis: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.oc-media-upload-info li span:nth-child(2) {
    flex-grow: 2;
}

#visibility_dialog {
    label {
        input[type=radio] {
            float: left;
        }

        span {
            display: block;
            margin-left: 2em;
        }
    }
}

.oc_muted {
    color: gray;
}
